@import "global";
.About {
  box-sizing: border-box;
  background-color: #fb7840;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 56px 26px 35px;
  @include tablet() {
    padding: 25px 37px 45px 36px;
  }
  @include laptop() {
    padding: 37px 49px 12px 45px;
    max-width: 499px;
  }
  @include desktop() {
    padding: 37px 49px 12px 45px;
    width: 100%;
    min-width: 711px;
  }
  .About__header {
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    text-align: left;
    margin-bottom: 11px;
    @include laptop() {
      max-width: 499px; /////////////////??????
    }
  }
  .About__decorLine {
    margin-bottom: "42px";
    max-width: 213px;
    margin-bottom: 47px;
  }
  .About__wrapper {
    padding-bottom: 46px;
    @include tablet() {
      padding-bottom: 44px;
    }
    @include laptop() {
      padding-bottom: 34px;
    }
    @include desktop() {
      padding-bottom: 54px;
    }
    .About__list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      color: #fff;
      .List__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .list__nr {
          text-align: center;
          line-height: 51px;
          border-radius: 50%;
          width: 100%;
          max-width: 51px;
          max-height: 51px;
          background-color: $darkBlue;
          font-family: "Roboto-Bold";
          font-size: 30px;
          margin-right: 20px;
        }
        .list__text {
          display: block;
          font-family: "Roboto-Regular";
          font-size: 18px;
          text-align: left;
          width: auto;
        }
      }
    }
  }
  .About__decorLine__long {
    opacity: 0.5;
  }
  .sale_advert {
    padding: 15px 22px 0 17px;
    @include tablet() {
      padding: 0 25px;
    }
    @include laptop() {
      padding: 0;
    }
    .sale__wrapper {
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      margin-bottom: 31px; /////////////!!!!!!
      @include tablet() {
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: -15px;
        justify-content: center;
        gap: 33px;
      }
      @include laptop() {
        margin-top: 22px;
        align-content: flex-start;
        margin-bottom: 23px;
      }
      @include desktop() {
        margin-top: -15px;
        justify-content: flex-start;
      }
      .sale_arc {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px;
        height: 132px;
        min-width: 132px;
        max-width: 132px;
        background-color: $liteBlue;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        font-family: "Roboto-Regular";
        line-height: 18px;
        color: #fff;
        font-weight: 700;
        transform: rotate(-10deg);
      }
      .sale__offer {
        display: flex;
        flex-direction: column;
        text-align: right;
        flex-wrap: wrap;
        @include tablet() {
          flex-direction: row;
          align-items: flex-end;
          align-content: flex-end;
          justify-content: space-between;
        }
        @include laptop() {
          gap: 18px;
        }
        @include desktop() {
          gap: 0;
        }
        .sale__price {
          font-size: 69px;
          font-family: "Roboto-Black";
          line-height: 52px;
          font-weight: 900;
          color: $darkBlue;
          max-height: 52px;
          max-width: 200px;
          .sale__price__base {
            display: block;
            font-size: 17px;
            line-height: 17px;
            margin-bottom: -17px;
            text-decoration: line-through;
            color: #ffffff;
            font-weight: 900;
            font-family: "Roboto-Regular";
          }
        }
        .sale__price__description {
          display: block;
          width: 200px;
          font-size: 28px;
          line-height: 26px;
          color: #123754;
          font-weight: 500;
          font-family: "Roboto-Regular";
          text-align: justify;
          letter-spacing: 2.8px;
          @include tablet() {
            max-width: 190px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
.text__mob {
  display: none;
  @include tablet() {
    white-space: nowrap;
  }
  @include desktop() {
    display: none;
  }
}
.text__tab {
  display: none;
  @include tablet() {
    display: block;
    padding-top: 15px;
  }
  @include laptop() {
    display: none;
  }
  @include desktop() {
    display: block;
    width: 100%;
    white-space: nowrap;
  }
}
.sale__text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto-Regular";
  text-align: center;
  @include tablet(){
    white-space: nowrap;
    
  }
  .sale__text__cache {
    font-family: "Roboto-Black";
    font-size: 17px;
  }
}
