@import "global";
.About {
  box-sizing: border-box;
  background-color: #fb7840;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 56px 26px 35px;
  @include tablet() {
    padding: 25px 37px 45px 36px;
  }
  @include laptop() {
    padding: 37px 49px 12px 45px;
    max-width: 499px;
  }
  @include desktop() {
    padding: 37px 49px 12px 45px;
    width: 100%;
    min-width: 711px;
  }
  .About__header {
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    text-align: left;
    margin-bottom: 11px;
    @include laptop() {
      max-width: 499px; /////////////////??????
    }
  }
  .About__decorLine {
    margin-bottom: "42px";
    max-width: 213px;
    margin-bottom: 47px;
  }
  .About__wrapper {
    padding-bottom: 46px;
    @include tablet() {
      padding-bottom: 44px;
    }
    @include laptop() {
      padding-bottom: 34px;
    }
    @include desktop() {
      padding-bottom: 54px;
    }
    .About__list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      color: #fff;
      .List__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .list__nr {
          text-align: center;
          line-height: 51px;
          border-radius: 50%;
          width: 100%;
          max-width: 51px;
          max-height: 51px;
          background-color: $darkBlue;
          font-family: "Roboto-Bold";
          font-size: 30px;
          margin-right: 20px;
        }
        .list__text {
          display: block;
          font-family: "Roboto-Regular";
          font-size: 18px;
          text-align: left;
          width: auto;
        }
      }
    }
  }
  .About__decorLine__long {
    opacity: 0.5;
  }
}

.sale_advert {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 17px;
  gap: 31px;
  align-items: center;
  justify-content: center;
  @include tablet() {
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0;
    margin-right: 26px;
    margin-top: -30px;
  }
  @include laptop() {
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    padding-left: 0;
  }
  @include desktop() {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 29px;
    padding-top: 0px;
  }
  .sale_arc {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: $liteBlue;
    border-radius: 50%;
    width: 132px;
    height: 132px;
    text-align: center;
    color: #fff;
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    transform: rotate(-10deg);
    padding: 0 10px;
    @include tablet() {
      margin-right: 31px;
      margin-bottom: -17px;
    }
    @include laptop() {
      margin-bottom: 0;
    }
    @include desktop() {
      margin-bottom: -32px;
      margin-top: -15px;
    }
  }
  .sale__price {
    font-size: 69px;
    letter-spacing: -2px;
    max-height: 52px;
    line-height: 52px;
    color: $darkBlue;
    font-weight: 900;
    font-family: "Roboto-Black";
    text-align: center;
    margin-bottom: 12px;
    @include tablet() {
      margin-bottom: 15px;
    }
    @include laptop() {
      margin-bottom: 0;
    }
    .sale__price__base {
      font-size: 17px;
      text-decoration: line-through;
      color: #ffffff;
      font-weight: 900;
      font-family: "Roboto-Regular";
      text-align: right;
      margin-bottom: -17px;
      line-height: 17px;
      letter-spacing: 0;
    }
  }
  .sale__apply20 {
    color: $darkBlue;
    font-family: "Roboto-Medium";
    font-weight: 500;
    line-height: 26px;
    font-size: 28px;
    max-width: 190px;
    text-align: justify;
    letter-spacing: 1.5px;
  }

  .sale__text {
    width: max-content;
    color: #fff;
    font-family: "Roboto-Regular";
    font-size: 17px;
    max-width: 290px;
    letter-spacing: -1px;
    text-align: center;
    @include tablet() {
      max-width: 407px;
    }
    @include laptop() {
      margin-top: 23px;
      white-space: nowrap;
    }
    @include desktop() {
      margin-top: 13px;
    }
  }
}

.sale__wrapper {
  display: flex;
  flex-direction: column;
  @include tablet() {
    flex-direction: row;
    gap: 15px;
  }
  @include laptop() {
    flex-direction: column;
  }
  @include desktop() {
    flex-direction: row;
  }
}
