@import "global";

.FAQ {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 26px 34px 49px;
  @include tablet() {
    padding: 55px 77px 65px;
  }
  @include laptop() {
    padding: 55px 67px 65px;
  }
  @include desktop() {
    padding: 67px 387px 65px;
  }
  .FAQ__header {
    font-size: 30px;
    line-height: 62px;
    color: #272727;
    font-weight: 900;
    font-family: "Roboto-Black";
    margin-bottom: 14px;
  }
  .FAQ__decorLine {
    margin-bottom: 42px;
  }
  .FAQ__content {
    display: flex;
    flex-direction: row;
    @include laptop() {
      justify-content: space-between;
    }
    .FAQ__content__wrapper {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }
  }
}
@keyframes dropOut {
  form {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.FaqElement {
  transition: 1s;
  height: fit-content;
  @include laptop() {
    max-width: 359px;
  }
  @include desktop() {
    max-width: 557px;
  }

  .FaqElement__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    color: #272727;
    font-family: "Roboto-Medium";
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    .FaqElement__circle {
      text-align: center;
      min-width: 54px;
      line-height: 54px;
      border-radius: 50%;
      background-color: $mainOrange;
      color: #fff;
      font-size: 24px;
      font-family: "Roboto-Black";
    }
  }
  .FaqElement__description {
    margin-top: 23px;
    background-color: $greyShade;
    padding: 25px 25px 36px;
    color: $textGray;
    font-family: "Roboto-Regular";
    font-size: 14px;
    transition: 1s;
    @include laptop() {
      display: none;
    }
  }
}
.descriptionDesktop {
  box-sizing: border-box;
  display: none;
  max-width: 449px;
  background-color: $greyShade;
  padding: 25px 25px 36px;
  color: $textGray;
  font-family: "Roboto-Regular";
  font-size: 14px;
  @include desktop() {
    max-width: 571px;
  }
}
